<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>The Mustard Tree</title>
		{{ "app.css" | asset_url | stylesheet_tag }}
		{{ "component.css" | asset_url | stylesheet_tag }}
		{{ "demo.css" | asset_url | stylesheet_tag }}
<script src="{{ "modernizr.js" | asset_url }}"></script>
</head>